
@model ZM_CS296_Forum_Site.Models.ReplyVM
@{
    ViewData["Title"] = "WriteReply";
}

<h1>Write a Reponse</h1>
<form asp-action="WriteReply" method="post" style="background-color:lightgray">
    <div class="container">
        <div class="p-2 m-1">
            @Model.PostId
            <input type="hidden" asp-for="PostId" value="@Model.PostId" />
            <div>
                <label asp-for="Message">Message: </label><br />
                <textarea asp-for="Message"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span> 
            </div>

        </div>
        <button type="submit" class="btn btn-primary btn-md" style="text-align:center">Submit</button>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}