
@model ForumPostModel
@{
    ViewData["Title"] = "WritePost";
}



<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<h1>Response</h1>
<form asp-action="WritePost" method="post" style="background-color:lightgray">
    <div class="container">
        <div class="p-3 m-2">

            <div>
                <label asp-for="Username">Username: </label><br />
                <input asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span><br />
            </div><br />

            <div>
                <br /><br />
                <label asp-for="Title">Title: </label><br />
                <input asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span><br />
            </div><br />

            <div>
                <br />
                <label asp-for="Message">Message: </label><br />
                <textarea asp-for="Message"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

        </div>
        <button type="submit" class="btn btn-primary btn-md" style="text-align:center">Submit</button>
    </div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
